<section class="collection">
  <div class="container">
    <div class="collection__top-block">
      <div class="wrapper-img">
        <img src="./images/document.webp" class="col-img" />
      </div>
      <div class="collection-description">
        <p class="text">WITH THIS COLLECTION OF PROMPTS & IDEAS...</p>
        <h2 class="time__title">You Will Make The Most Of ChatGPT 🤭</h2>
        <p class="collection__subtext">
          ChatGPT will start working out for you the way you want and you get
          your desired results.
        </p>
        <ul class="collection__list">
          <li class="collection__item">
            <span>Spend less time</span>
            doing boring, repetitive tasks.
          </li>
          <li class="collection__item">
            <span>Enjoy more hours</span>
            in your zone of genius .
          </li>
          <li class="collection__item">
            <span>Double or triple</span>
            the number of clients you serve
          </li>
          <li class="collection__item">
            <span>Offer more</span>
            services to clients
          </li>
          <li class="collection__item">
            <span>Scale</span>
            with a lean team
          </li>
        </ul>
      </div>
    </div>
    <div class="collection__bot-block">
      <div class="wrapper-image">
        <img src="./images/grafik.webp" alt="chat" />
      </div>
      <div class="collection__bot-text">
        <p class="bot-text">
          Most Marketers Are Not Using ChatGPT To Even 10% Of Its Potential
        </p>
        <p class="text">
          Be One Of The First Few People To Use ChatGPT To Its Full Potential
        </p>
        <p class="bot-description">
          So that’s what I’m setting out to do here. To give you all the
          <span>NOT-SO-OBVIOUS ChatGPT prompts</span> and ideas I collected in
          the past few months.
        </p>
        <p class="bot-description">
          Once you put these prompts and ideas to work, you will start pumping
          out crazy output that you won’t be able to get with standard prompts.
        </p>
      </div>
    </div>
    <a href="#" class="btn">Download ChatGPT BOOSTER</a>
  </div>
</section>
