<section class="comment">
  <div class="container">
    <h2 class="comment-title">
      What People Are Saying About ChatGPT Booster Prompts:
    </h2>
    <div class="comment-wrapper">
      <div class="image image-wrapper-1">
        <img src="./images/comment.webp" alt="comment" />
      </div>
      <div class="image image-wrapper-2">
        <img src="./images/com-1.webp" alt="comment" />
      </div>
    </div>

    <div class="image image-wrapper-3">
      <img src="./images/com-2.webp" alt="comment" />
    </div>
    <div class="comment-wrapper-bottom">
      <div class="images image-wrapper-4">
        <img src="./images/com-3.webp" alt="comment" />
      </div>
      <div class="images image-wrapper-5">
        <img src="./images/com-4.webp" alt="comment" />
      </div>
      <div class="images image-wrapper-6">
        <img src="./images/com-5.webp" alt="comment" />
      </div>
    </div>
  </div>
</section>
