<section class="footer">
  <div class="container">
    <img src="./images/logo.png" class="logo" />
    <p class="copyright">© 2023 Mezac-llc. Ltd. All rights reserved</p>
    <ul class="footer-list">
      <li class="footer-item">
        <a class="footer-link" href="#">PRIVACY</a>
      </li>
      <li class="footer-item">
        <a class="footer-link" href="#">TERMS & CONDITIONS</a>
      </li>
      <li class="footer-item">
        <a class="footer-link" href="#">REFUND</a>
      </li>
      <li class="footer-item">
        <a class="footer-link" href="#">Contact Us</a>
      </li>
    </ul>
    <p class="footer-text">
      NOT FACEBOOK: This site is not a part of the Facebook™ website or Facebook
      Inc. Additionally, This site is NOT endorsed by Facebook™ in any way.
      FACEBOOK is a trademark of FACEBOOK, Inc. DISCLAIMER: Please understand
      results are not typical. Your results will vary and depend on many factors
      including but not limited to your background, experience, and work ethic.
      All business entails risk as well as taking regular and consistent effort
      and action.
    </p>
  </div>
</section>
