<section class="hero">
  <div class="container">
    <img src="./images/logo.png" class="logo" />
    <p class="text">Boost YOUR MARKETING WITH CHATGPT!</p>
    <h1 class="title">1000+ ChatGPT Prompts To Copy, Paste &amp; Scale</h1>
    <p class="subtext">
      Leverage ChatGPT To 10X Your Business And Stand Out from the Competition
      For A Small Fraction Of The Normal Price!
    </p>
    <div class="price">
      <p class="old-price">$33.2</p>
      <p class="new-price">$9.96</p>
    </div>
    <p class="discount">
      <span>70%</span>
      <span>off use code: CHAT70</span>
    </p>
    <a href="#" class="btn">1 TIME PAYMENT</a>
  </div>
</section>
