<section class="master">
  <div class="container">
    <h2 class="master-title">
      Are You Ready To Master The #1 Tool That Will Shape Business And Marketing
      Forever?
    </h2>
    <ul class="master-list">
      <li class="master-item">
        <span class="master-number">1</span>
        <p class="master-text">
          Get the biggest collection of ChatGPT prompts on the planet.
        </p>
      </li>
      <li class="master-item">
        <span class="master-number">2</span>
        <p class="master-text">
          Read the ChatGPT guide you get with ChatGPT Booster.
        </p>
      </li>
      <li class="master-item">
        <span class="master-number">3</span>
        <p class="master-text">
          Copy and paste prompts in ChatGPT to get impressive results.
        </p>
      </li>
      <li class="master-item">
        <span class="master-number">4</span>
        <p class="master-text">
          Once you have your desired results, use it to grow your or your
          clients business.
        </p>
      </li>
    </ul>
  </div>
</section>
