<section class="questions">
  <div class="container">
    <h2 class="questions-title">Have More Questions? Here Are Your Answers</h2>
    <button class="questions-item">
      Why do I need prompts when I can come up with ideas myself?
    </button>
    <div class="panel">
      <p class="panel-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit quasi
        voluptatem rem optio recusandae nulla dolor voluptas magnam! Nesciunt,
        distinctio.
      </p>
    </div>
    <button class="questions-item">Who is this prompt pack for?</button>
    <div class="panel">
      <p class="panel-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit quasi
        voluptatem rem optio recusandae nulla dolor voluptas magnam! Nesciunt,
        distinctio.
      </p>
    </div>
    <button class="questions-item">
      How is this different from other prompt packs or YouTube videos out there?
    </button>
    <div class="panel">
      <p class="panel-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit quasi
        voluptatem rem optio recusandae nulla dolor voluptas magnam! Nesciunt,
        distinctio.
      </p>
    </div>
    <button class="questions-item">
      Will this help me with other platforms like Bard or ChatSonic?
    </button>
    <div class="panel">
      <p class="panel-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit quasi
        voluptatem rem optio recusandae nulla dolor voluptas magnam! Nesciunt,
        distinctio.
      </p>
    </div>
    <button class="questions-item">How will I access my prompts?</button>
    <div class="panel">
      <p class="panel-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit quasi
        voluptatem rem optio recusandae nulla dolor voluptas magnam! Nesciunt,
        distinctio.
      </p>
    </div>
    <button class="questions-item">I’ve still got questions.</button>
    <div class="panel">
      <p class="panel-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit quasi
        voluptatem rem optio recusandae nulla dolor voluptas magnam! Nesciunt,
        distinctio.
      </p>
    </div>
  </div>
</section>
