<section class="time">
  <div class="container">
    <img src="./images/logo1.webp" class="logo1" />
    <h2 class="time_title">
      Imagine How Much <span class="accent">Money</span>And
      <span class="accent">Freedom</span> Would All Those Hours Represent?
    </h2>
    <img src="./images/tab.webp" class="img-tab" />
    <p class="time_text">
      That’s how much <b>Time per Week</b> an average marketer or business owner
      can save per week by utilizing ChatGPT to its <b>Full Potential</b>
    </p>
    <a href="#" class="btn">BUY ChatGPT Booster</a>
  </div>
</section>
