<section class="videoBox">
  <div class="container">
    <div class="videoBox__top-block">
      <img src="./images/logo.png" class="logo" />
      <h2 class="videoBox__title">
        🔐 Unlock Your Marketing Potential With Our Proven And Tested ChatGPT
        Prompts
      </h2>
      <p class="videoBox__subtext">
        “The biggest collection of ChatGPT prompts on the planet”
      </p>
      <div class="wrapper__videoBox">
        <ul class="videoBox__list">
          <li class="videoBox__item">
            <span>Spend less time</span>
            doing boring, repetitive tasks.
          </li>
          <li class="videoBox__item">
            <span>Enjoy more hours</span>
            in your zone of genius .
          </li>
          <li class="videoBox__item">
            <span>Double or triple</span>
            the number of clients you serve
          </li>
          <li class="videoBox__item">
            <span>Offer more</span>
            services to clients
          </li>
          <li class="videoBox__item">
            <span>Scale</span>
            with a lean team
          </li>
          <li class="videoBox__item">
            <span>Scale</span>
            with a lean team
          </li>
          <li class="videoBox__item">
            <span>Scale</span>
            with a lean team
          </li>
          <li class="videoBox__item">
            <span>Scale</span>
            with a lean team
          </li>
          <li class="videoBox__item">
            <span>Scale</span>
            with a lean team
          </li>
          <li class="videoBox__item">
            <span>Scale</span>
            with a lean team
          </li>
          <li class="videoBox__item">
            <span>Scale</span>
            with a lean team
          </li>
          <li class="videoBox__item">
            <span>Scale</span>
            with a lean team
          </li>
          <li class="videoBox__item">
            <span>Scale</span>
            with a lean team
          </li>
          <li class="videoBox__item">
            <span>Scale</span>
            with a lean team
          </li>
          <li class="videoBox__item">
            <span>Scale</span>
            with a lean team
          </li>
        </ul>
        <div class="video">
          <div class="video-wrapper">
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/dIC1rv4SX_Y"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>

          <div class="videobox__price">
            <p class="videobox__old-price">$33.2</p>
            <p class="videobox__new-price">$9.96</p>
          </div>
          <p class="discount">
            <span> Save $24 - But only until april 30 </span>
          </p>
          <a href="#" class="btn">GET ChatGPT Booster</a>
          <p class="videoBox__subsubtext">
            You will receive the checklist immediately after payment
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
