.comment {
  background: radial-gradient(circle, #032105 0 35%, #000 100%);
}

.comment-title {
  color: var(--primary_color);
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 22px;
  line-height: 1.4em;
}

.comment-wrapper {
  @media screen and(min-width:768px) {
    margin-top: -130px;
    display: flex;
  }
  @media screen and(min-width:1200px) {
    width: 1150px;
  }
}

.image {
  @media screen and(max-width:767px) {
    width: 320px;
    margin: 0 auto;
  }
}

.image-wrapper-1 {
  @media screen and(max-width:767px) {
    margin-top: -115px;
  }
}

.image-wrapper-2 {
  @media screen and(max-width:767px) {
    margin-top: -195px;
  }

  @media screen and(min-width:768px) {
    margin-top: 30px;
  }
}

.image-wrapper-3 {
  margin: -170px auto 0;

  @media screen and(min-width:768px) {
    width: 600px;
    margin: -295px auto 0;
  }

  @media screen and(min-width:1200px) {
    width: 850px;
    margin: -400px auto 0;
  }
}
.image-wrapper-4 {
  @media screen and(max-width:767px) {
    margin-top: -220px;
  }
}

.image-wrapper-5 {
  @media screen and(max-width:767px) {
    margin-top: -220px;
  }
}

.image-wrapper-6 {
  @media screen and(max-width:767px) {
    margin-top: -200px;
    margin-bottom: -100px;
  }
}

.comment-wrapper-bottom {
  @media screen and(min-width:767px) {
    margin: -250px auto -100px;
    display: flex;
  }

  @media screen and(min-width:1200px) {
    margin: -350px auto -100px;
  }
}
